
 body {
  background-color: #2f2f2f;
  background-color:;
  font-size: 20px;
  font-family:'Playfair Display', serif ;

}

div{

    margin: 5px auto;
    width: 700px;
}

@media (max-width: 760px) {
  div {
    width: 450px;
  }

}


h1,h2{
  color:#2f2f2f;
  font-family: 'Roboto Condensed', sans-serif;
}

h1{
  font-weight: bolder;
  letter-spacing:2px;
  font-size:32px;
  text-transform: uppercase;
}

p{
  color: #605d5e;
}

a{
  color:#44dabc;
}
a:hover{
  color:#827f80;
}


.div-part{
  padding: 20px ;
  border-radius: 3px;
  box-shadow: 0 20px 40px rgba(255,255,255,0.2);
  background:white;
  text-align: center;

}

.list-inline li {
  display: inline;
  padding: 10px;

}

.list-inline {
  padding-left: 0px;

}




#img-profil{
  width:250px;
  border-radius: 50%;
}
